<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>
    </div>

    <form action="/create-user" method="POST">
        <fieldset>
            <legend>Add new User :</legend>

            <div class="input-group">
                <label>Email:</label>
                <input type="email" id="emailId" name="email">
            </div>
            <br>
            <div class="input-group">
                <label>Name:</label>
                <input type="text" id="nameId" name="name">
            </div>
            <br>
            <div class="input-group">
                <label>City:</label>
                <input type="text" id="cityId" name="city">
            </div>

            <button> Submit</button>
        </fieldset>
    </form>

</body>

</html>